{% block home %}

    <div id="divappend" class="container infinite-container">

        <table id="myTable" class="table">
            <thead class="thead-dark" id="thead">
            <tr class="header">
                <th onclick="sortTable(0)">name</th>
                <th onclick="sortTable(1)">image</th>
                <th onclick="sortTable(2)">position</th>
                <th onclick="sortTable(3)">salary</th>
            </tr>
            </thead>
            {% for i in all_generals %}
                <tbody>
                <tr>
                    <td class="filterable-cell"><a class="text-dark" href="{{ i.id }}-general">{{ i.name }}</a></td>
                    <td class="filterable-cell"><a href="{{ i.id }}-general"><img src="{{ i.image.url }}/" width="100"
                                                                                  height="111"></a></td>
                    <td class="filterable-cell">{{ i.position }}</td>
                    <td class="filterable-cell"><span class="badge badge-dark">{{ i.salary }}</span></td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>


{% endblock %}